body {
    background: url(./images/concrete_seamless.png);
}

.YN {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
    display: inline-block;
    height: 81px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -355px;
}


nav {
    float: right;
    margin-top: 1px;
    margin-right: 120px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    font-size: 20px;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

#basliq {
    background-color: white;
    position: fixed;
    z-index: 99;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 75px;
    border-bottom: 2px solid #ccc;
    margin-top: -70px;
    margin-bottom: 70px;

}



.YN a {
    text-decoration: none;
    color: white;
}



.aboutme {
    float: left;
    width: 85%;
    max-width: 650px;
    padding: 30px;
    margin: 40px 187px;
    background: #fff;
    border: 1px solid #ddd;
    height: 390px;
}

h1,
h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 2px solid #ddd;

}

.cat-img {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-right: 25px;
}

#p1 {
    margin-top: 17px;
}

#p2 {
    margin-top: 68px;
}

#p1,
#p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777;
}

.sidebar {
    float: right;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: -492px;
    margin-right: 75px;
    background: #fff;
    border: 1px solid #ddd;

}

.sidebar-img {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 4px;
}

.sidebar-img:last-child {
    margin-right: 10px;
    margin-left: 15px;
}


.foot {
    margin: 0 auto;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}

.se {
    margin-bottom: 70px;
}




